@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
  color-scheme: light;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

html,
body,
#root {
  min-height: 100%;
}

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}
